th,
td {
  text-align: center;
  vertical-align: middle;
}

td {
  padding: 0.5rem;
}

thead th {
  padding: 0.75rem;
}

.custom-modal .modal-content {
  border-radius: 0;
}


.c-b {
  color: #25316f !important;
}

.btn-c {
  background-color: white !important;
  color: #25316f !important;
  border-color: #25316f !important;
  width: 100px;
}

.btn-s{
  background-color: #25316f !important;
  border-color: #25316f !important;
  width: 100px;
}

.th-c {
  background-color: #25316f !important;
  color: white !important;
}